{% extends "base.html" %}

{% block content %}
    <div class="header">
        <h1>Bem vindo ao cadastro de Placas! Veja as placas criadas abaixo!</h1>
    </div>
    <a href="{{ url_for('placa.create_plate') }}" class="cta-button">Create new Placa</a>
    <div class="box">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Placa</th>
                    <th>Motorista</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for placa in placas %}
                    <tr>
                        <td>{{ placa.id }}</td>
                        <td>{{ placa.placa }}</td>
                        <td>{{ placa.motorista }}</td>
                        <td>
                            <form action="{{ url_for('placa.delete_plate', id=placa.id) }}" method="POST">
                                <button type="submit" class="cta-button">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('placa.update_placa', id=placa.id) }}" method="POST">
                                <button type="submit" class="cta-button">Update</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
