{% extends "base.html" %}
{% block content %}
    <h1>Hello, Welcome to HH Company</h1>
    <h2>Com relacao aos tickets:
        <a href="{{ url_for('main.view') }}">>>Veja os tickets<<</a>
    </h2>
    <h2>Com relacao aos Motoristas:
        <a Href="{{ url_for('mot.view_motorista') }}">>>Veja os motoristas<<</a>
    </h2>
    <h2>
        Com relacao as Placas:
        <a href="{{ url_for('placa.view_placas') }}">>>Veja as placas<<</a>
    </h2>
    <h2>
        Com relacao aos Carregamentos:
        <a href="{{ url_for('main.view_carregamento') }}">>>Veja os carregamentos<<</a>
    </h2>
{% endblock %}
